# Node
node_modules/
dist/

# Env & config
.env
.env.*

# Build
*.tsbuildinfo

# Storage & uploads
storage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Temp
*.tmp
*.swp
.DS_Store
.idea/
.vscode/ 